/*=============== BREAKPOINTS ===============*/

$bp-large: 62em; //992px / 16px = 60.5em
$bp-medium: 48em; //768px / 16px = 48em
$bp-small: 37em; //592px / 16px = 37em
$bp-smaller: 26.75em; //428px / 16px = 26.75em
$bp-tiny: 20em; // 320px / 16px = 20em

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--body-color);

  &-thumb {
    border-radius: 0.5rem;
    background-color: var(--first-color);
    &:hover {
      background-color: var(--first-color-alt);
    }
  }
}

::selection {
  background-color: var(--first-color);
  color: var(--stars);
}

// EXTERNAL FONTS
@font-face {
  font-family: primary-font;
  src: url("../../assets/fonts/CursiveSans-Bold.ttf");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: primary-font;
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  width: 2.7rem;
  height: 3rem;
  padding: 0.5rem;
  fill: var(--text-color);
}

// WEBSITE PRELOADER
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--text-color);
  z-index: var(--z-preloader);

  &-gif {
    width: 25rem;
  }

  &.fade-out {
    top: -100%;
    opacity: 0;
  }
}

// PROGRESS BAR
.progress {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  height: 4rem;
  width: 4rem;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: var(--icon-shadow);
  z-index: var(--z-modal);
  cursor: pointer;

  &-value {
    display: block;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    border-radius: 50%;
    background-color: var(--body-color);
    display: grid;
    place-items: center;
  }
  &-icon {
    font-size: var(--h1-font-size);
    color: var(--first-color);
  }
}

// OVERLAY
.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-1);
  backdrop-filter: blur(3px);

  &__hidden {
    display: none;
  }
}

.search-form {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background-color: var(--opacity-3);
  backdrop-filter: blur(3px);
  transition: all 0.5s ease;
  z-index: var(--z-modal);

  &.active {
    top: 50%;
  }

  &__icon {
    border-radius: 0rem 2rem 2rem 0rem !important;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__svg {
    &:active {
      transform: translateY(2px);
    }
  }

  &__input {
    color: var(--first-color);
    padding: 0 2rem;
    height: 3.5rem;
    width: 30rem;
    border-radius: 3rem;
    font-family: inherit;
    border: none;
    font-weight: 600;
    margin-right: -3.5rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 35rem;
    }
  }

  &__btn {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--first-color);
  }

  // RESPONSIVE MEDIA
  // 592px
  @media only screen and (max-width: $bp-small) {
    &__input {
      width: 80%;
      &:focus {
        width: 90%;
      }
    }
    &__close {
      top: 1rem;
      right: 1rem;
    }
  }
}
